body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--body-bg-color);
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  opacity: 0;
}
